CompileFlags:
  Add:
    [
      "-D__xtensa__",
      "-D_GNU_SOURCE",
      "-DESP32",
      "-DARDUINO=10800",
      "-Wno-unknown-argument",
      "-Wno-unused-command-line-argument",
      "--target=xtensa-esp32-elf",
    ]
  Remove:
    [
      "-mlongcalls",
      "-fno-tree-switch-conversion",
      "-fstrict-volatile-bitfields",
      "-mfix-esp32-erratum-76",
    ]

Index:
  Background: Build
