CompileFlags:
  Add:
    - --target=xtensa-esp32-elf
    - -Wno-unknown-argument
    - -Wno-unused-command-line-argument
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -mfix-esp32-erratum-76
    - -freorder-blocks
    - -fno-jump-tables
